<app-header title="Avaliações do produto" subtitle="Média: {{avarege}} Estrelas" buttonLink="/produtos/{{product_id}}/avaliacoes/novo" buttonText="Inserir novo"></app-header>
<div class="row mt-3">
  <div class="col-12">
    <app-alert #alert></app-alert>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Produto</th>
        <th>Nome</th>
        <th>Avaliação</th>
        <th>Ações</th>
      </tr>
      <tr *ngFor="let item of items">
        <td>{{item.id}}</td>
        <td>{{item.product_id}} - {{item.product_name}}</td>
        <td>{{item.name}}</td>
        <td>
          <ngb-rating max="5" rate="{{item.grade}}" starTemplate readonly="true"></ngb-rating>
        </td>
        <td>
          <div class="btn-group">
            <a routerLink="/produtos/{{product_id}}/avaliacoes/{{item.id}}" class="btn btn-success">Editar</a>
            <button (click)="delete(item.id)" class="btn btn-danger">Excluir</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
